footer {

  width: 100%;

  background: rgb(42, 41, 41);
  color: gray;
  
 
 
}

html, body {
  height: 100%;
  margin: 0;
}


main {
  flex: 1; 
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 1rem;
}

.links {
    color: gray;
}
.net {

  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #e50914;
  letter-spacing: 0.1px;
  padding-left: 0px;
  text-align: left;
}
.ctr {

    width: 500 px;
    height: 152 px;
  background-color: rgba(0, 0, 0, 0.75);
  padding-left: 60px;
  padding-right: 70px;
  padding-top: 49px;
  padding-bottom: 46px;
  border-radius: 4px;
  margin-top: 80px;
  margin-bottom: 60px;
 
 
 

}
body {

    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  background-image:
  radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
   url("../images/accounts.jpg")
   ;
  background-position-x: 80%;
     background-size: cover;

    padding: 0%;
   
  background-position: top;
  background-repeat: no-repeat;
   display: flex;
  flex-direction: column;
}
.signIn {
  background-color: transparent;
   width: 314px;
  height: 48px;

  color: #fff;

  border-color: gray;
  border-width: 1px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 600;

  cursor: cursor;
} 
.pass {
  background-color: transparent;

  width: 314px;
  height: 48px;

  color: #fff;

  border-color: gray;
  border-width: 1px;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  margin-bottom: 12px;

}
.Red {
  background-color:#e50914;
  height: 55px;

  width: 319px;
  height: 38px;

  background-color: #e50914;
  color: #fff;

  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 00;

  cursor: pointer;
}

.Red:hover {
  background-color: #eb141e;
}
.Gray {

     background-color: rgba(51, 51, 51, 0.9);
   
  width: 319px;
  height: 38px;


  color: #fff;

  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 00;

  cursor: pointer;
}

.remember {
  text-align: center;
}