


footer {
  height: auto;
  min-height: 120px;
  min-height: 60px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient( rgb(137, 31, 31), rgb(0, 0, 0));
  color: aliceblue;
  padding-top: 0px;
 
}

.contactUs{
    background-color: white;
    color: black;
    font-weight: 400;
}
.quicks {
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-weight: 400; 
}
.dropdown {
    color:#767171;
    width: 230px;
    padding: 12px;
    margin-left: 0px;
    margin-top: 26px;    
    height: 45px;
    background-color: transparent;
    border-color: #767171;
    border-radius: 0px;
    font-family: 'Bebas Neue', Arial, sans-serif;
}

.footerLinks {
  text-decoration: none;
  color:#c6bebe;
  align-items: left;
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 13px;
  padding-left: 13px;
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 50px
}
.help {
    text-align: left;
    padding-left:12px;
    padding-top:21px;
}
.contactUs {
    width: 182px;
    height: 32px;
    border-radius: 6px;
    border: #c6bebe;
    font-weight: 500;
    font-size: 16px;
    margin-left: 27px;
    margin-top: 2px;
    text-decoration: none;
}   
.help {
    font-weight: 600;
    font-size: large;
}
.slice {
    color:rgb(120, 88, 88);
    
}
.far-left {
    margin-bottom: 20ox;
    padding-left: 4px ;
}