header {
    background-color: black !important;
    min-height: 60px;
    margin: 0% !important;
    padding:0% !important;
    width: 100%;
    left: 0;
    right: 0;
   
    top: 0;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 3px;
  color: white;
  background-color: rgb(23, 23, 23);
}
h1 {
 font-size: clamp(2.8rem, 5vw, 5.5rem);
  font-weight: 900;

}
.titles {
  display: flex;              
  align-items: center;        
  justify-content: space-between;  
  flex-wrap: wrap;            
}

.title-text {
  display: flex;            
  align-items: center;
  gap: 10px;
}

.title-text h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: #E50914!important;
  font-size: 20px;
  letter-spacing: 0.01px;
    text-transform: uppercase;
    margin: 16px;
}

.title-text h2 {
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.buttons button {
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.joinNet {
  background-color: #e50914;
  border: none;
  color: #fff;
  margin-right: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signIn {
  background-color: #e50914;
  border: none;
  color: #fff;
  margin: 14px;
}

.joinNet {
  background-color: transparent;
  border: 1px solid #767171;
  color: #fff;
}
.buttons {
  display: flex;         
  gap: 10px;             
}
.no-underline {
    text-decoration: none;
    color:#fff;
     font-family: Arial, sans-serif;
     font-weight: 100;
}
.exe {
    text-decoration: none;
    color:#fff;
     font-family: Arial, sans-serif;
     font-weight: 300 
}



.carousel-container {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;   
}
.carousel-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* text stays at bottom */
  overflow: hidden;
   flex: 0 0 180px; /* fixed width */
  height: 250px;
}

.card p {
  margin: 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.5); /* semi-transparent background */
  color: white;
  text-align: center;
  font-size: 14px;
}


.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.carousel-wrapper {
  position: relative;
  margin: 20px 40px; /* leave space for prev/next buttons */
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
}

.prev { left: 0; }
.next { right: 0; }


    p{
  font-family: "Inter", sans-serif;
    }
   .blurred{
    text-align: center;
   } 
.footer-list,
.footer-list li,
.footer-list li::before {
    list-style: none !important;
    padding: 8px !important;
    margin: 0 !important;
    content: none !important;
     column-count: 2;       
    column-gap: 40px;  
}

.single-line {
    white-space: nowrap;  
}

footer {
    background-color: black;
    color: gray;

}
a {
    text-decoration: none;
    color: gray;
}
