h1 { text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-color: rgb(37, 61, 39);
    border: 1px solid rgb(69, 57, 57);
    padding: 20px 100px;
    background-color:rgb(55, 78, 58);
    border-radius: 6px;
    box-shadow: 0 3px 5px rgb(28, 66, 27);
    text-align: left;
}
body {
    font-family: san-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(152, 164, 154);
}
p { text-decoration: solid;}
.net {

  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #e50914;
  letter-spacing: 0.2px;
  padding-left: 0px;
  text-align: left;
}
.corner {
    
    width: 180px;
    text-align: center;
    height: 60px;
   
    margin: 20px;
 
    background-color:#E50914;
    color: white;
    border-color: #E50914;
   
    border-radius: 5px;
}