
body {
  font-family: 'Inter', sans-serif !important;
  padding: 5px;
  margin: 12px;
}
html, body {
  height: 100%;
  margin: 0;
}

footer {
  height: auto;
  margin: 0 !important;
  min-height: 120px;
  min-height: 60px;
  margin: 0% !important;
  padding:0% !important;
  width: 100%;
  left: 0;
  right: 0;
  background: repeating-linear-gradient( rgb(137, 31, 31), rgb(15, 15, 15));
 

}


.quicks {
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-weight: 400; 
}
.dropdown {
    color:#767171;
    width: 230px;
    padding: 12px;
    margin-left: 9px;
    margin-top: 37px;    
    height: 40px;
    background-color: transparent;
    border-color: #767171;
    border-radius: 1px;
    font-family: 'Bebas Neue', Arial, sans-serif;
}

.footerLinks {
  text-decoration: none;
  color:#c6bebe;
  align-items: left;
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 13px;
  padding-left: 13px;
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 50px
}
.backHome {
  color: black;
  text-decoration: none; 
}
.backHome:hover {
 color: #767171;
 text-decoration: underline;
}

.print-btn {
  background-color: #e4e2e2; 
  color: rgb(0, 0, 0);             
  border: none;
  border-radius: 3px;        
  padding: 11px 20px;
  font-size: 18px;
  font-weight:400;
  cursor: pointer;

  align-items: center;
  gap: 8px;                  
  transition: background 0.3s, transform 0.2s;
  top: 12px; right: 12px; left: 120px; 
  display: inline-flex;      
                        
  margin: 20px;               
 

}

.print-btn:hover {
  background-color: #acacac; 
   
}

.print-btn i {
  font-size: 20px;          
}

